/* Fonts section Start */
@font-face {
    src: url(../fonts/Ubuntu-Light.ttf);
    font-family: Ubuntu-Light;
}
@font-face {
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
    font-family: PlayfairDisplay-Regular;
}
@font-face {
    src: url(../fonts/PlayfairDisplay-Italic.ttf);
    font-family: PlayfairDisplay-Italic;
}
@font-face {
    src: url(../fonts/PlayfairDisplay-Bold.ttf);
    font-family: PlayfairDisplay-Bold;
}
@font-face {
    src: url(../fonts/PlayfairDisplay-Black.ttf);
    font-family: PlayfairDisplay-Black;
}
@font-face {
    src: url(../fonts/PlayfairDisplay-Black.ttf);
    font-family: PlayfairDisplay-Black;
}
/* Fonts section end */
/* Common Section Start */
body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
}
/* Common Section End */
/* Header Section Start */
header {
    padding: 20px 0;
}
.wrapper {
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
    /* border: 1px solid red; */
}
.logo {
    width: 10%;
    margin-top: 6px;
    float: left;
    /* border: 1px solid yellow; */
}
.logo img {
    width: 100%;
}
.menu {
    width: 70%;
    float: right;
    /* border: 1px solid #5900ff; */
}
.menu ul {
    margin: 0;
    float: right;
}
.menu ul li {
    list-style: none;
    float: left;
}
.menu ul li a {
    text-decoration: none;
    margin: 10px 60px;
    padding: 2px  2px;
    display: inline-block;
    color: #626262;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: 0.4s;
}
.menu ul li:last-child a {
    margin-right: 0;
}
.menu ul li a:hover {
    border-bottom: 1px solid #626262;
}
/* Header Section End */
/* Banner Section Start  */
.banner {
    padding: 20px 0;
}
.banner_wrapper {
    /* border: 1px solid red; */
}
.banner_wrapper img {
    width: 100%;
}
/* Banner Section End  */
/* Perfect Section Start */
.perfect {
    padding: 55px 0 90px;
}
.extra_wrapper {
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.tagline {
    margin: 0;
    padding: 25px 0;
    font-family: Ubuntu-Light;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    color: #b4ad9e;
}
.title {
    margin: 0;
    padding-bottom: 40px;
    font-size: 32px;
    font-weight: 400;
}
.common_p_text {
    margin: 0;
    line-height: 30px;
}
.perfect_b_tagline {
    padding-top: 50px;
    padding-bottom: 0;
}
/* Perfect Section End */
/* Top Blog Section Start */
.top_blog {
    padding: 60px 0 120px;
}
.top_bolg_wrapper {}
.single_blog {
    width: 45%;
    margin-right:10%;
    float: left;
    /* border: 1px solid blue; */
}
.single_blog:nth-child(even) {
    margin-right: 0;
}
.single_blog:nth-child(1),
.single_blog:nth-child(2) {
    margin-bottom: 100px;
}
.blog_image img {
    width: 100%;
    transition: 0.4s;
}
/* Top Blog Section End */
/* Newsletter Section Start */
.newsletter {
    padding: 100px 0;
    background-color: #f0f0f0;
}
.news_wrapper {
    width: 40%;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    /* border: 1px solid blue; */
}
.news_wrapper h1 {
    margin-bottom: 30px;
    color: #333333;
}
.news_form {
    position: relative;
    width: 400px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.news_form input {
    width: 345px;
    padding: 10px 45px 10px 10px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
}
.news_form input:focus {
    outline: 0;
}
.news_form button {
    position: absolute;
    border: 0;
    top: 9px;
    right: 0;
    cursor: pointer;
}
.news_form button:focus {
    outline: 0;
}
/* Newsletter Section End */
/* Top Blog Section Start */
.bottom_blog_wrapper {
    padding-top: 100px;
}
/* Top Blog Section End */
/* Load More Section Start */
.loadmore {
    padding-bottom: 100px;
}
.loadmore_wrapper {
    margin: 50px 0;
    text-align: center;
}
.load_btn {
    padding: 10px 20px;
    font-size: 32px;
    text-decoration: none;
    color: #626262;
    border: 1px solid #626262;
    border-radius: 2px;
    background-color: #fff;
    transition: 0.3s;
    cursor: pointer;
}
.load_btn:hover {
    color: #fff;
    background-color: #626262;
}
/* Load More Section End */
/* Footer Section start */
footer {
    padding: 20px 0;
    background-color: #F0F0F0;
}
.footer_content {
    overflow: hidden;
    /* border: 1px solid black; */
}
.left_footer_content {
    width: 35%;
    float: left;
    /* border: 1px solid green; */
}
.left_footer_content a{
    padding: 12px 12px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding-right: 20px;
}
.right_footer_content {
    width: 50%;
    float: right;
    /* float: 1px solid red; */
}
.right_footer_content ul{
    margin: 0;
    float: right;
}
.right_footer_content ul li {
    list-style: none;
    float: left;
}
.right_footer_content ul li a{
    text-decoration: none;
    margin: 10px 10px;
    padding: 2px  2px;
    display: inline-block;
    color: #626262;
    border-bottom: 1px solid transparent;
    transition: 0.4s;
}
.right_footer_content ul li:hover a {
    border-bottom: 1px solid #626262;
}
.right_footer_content ul li:first-child a{
    border-bottom: none;
    color: #000;
}
.right_footer_content ul li:last-child a{
    margin-right: 0;
}
/* Footer Section End */

